/* Globales */
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-text);
	color: #333;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #ffffff;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

/* Header */
header {
	display: flex;
	justify-content: space-between; 
	padding: 30px 0 40px 0;
	/*background-color: #531313; */
	background-color: rgb(255, 56, 86);
	color: #ffff;
	margin-bottom: 20px;
	
	
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #ffffff;
	width: 400px;
	z-index: 1;
	box-shadow: 10px 10px 20px rgba(200, 10, 10, 0.2);
	border-radius: 10px;
	
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
    border: 10px;
	border-bottom: 1px solid rgba(83, 15, 15, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
	
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
  padding: 2rem;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 40px 40px 40px rgba(244, 2, 2, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	/*background-color: #531313; */
	background-color: rgb(255, 56, 86);
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}


/* Estilos de Diego*/

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poiret+One&display=swap");

:root {
  --color-primary: crimson;
  --color-secondary: #f7f9f9;
  --color-third: darkred;
  --font-title: "Lilita One", sans-serif;
  --font-text: "Poiret One", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html {
  font-size: 16;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-title);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container_nav {
  width: 100%;
  height: 55px;
  color: white;
  background-color: var(--color-primary);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title_nav {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.list_nav {
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list_nav li {
  margin: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.hero_image {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("src/assets/banner.png");

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_image h2 {
  font-size: 5rem;
  color: var(--color-primary);
  font-family: var(--font-title);
}

.hero_image span {
  color: white;
  font-weight: bold;
  font-family: var(--font-text);
}

.nosotros {
  width: 100%;
  height: 600px;
  background-color: var(--color-secondary);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nosotros div {
  width: 50%;
}

.content-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nosotros img {
  width: 500px;
  border-radius: 14px;
}

.nosotros h3 {
  font-size: 2rem;
  text-align: center;
  color: var(--color-primary);
}

.nosotros p {
  margin: 1rem;
  text-align: justify;
  font-family: var(--font-text);
  font-weight: bold;
}

.contacto {
  width: 100%;
  height: 600px;
  background-color: black;
  color: var(--color-secondary);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contacto div {
  width: 50%;
}

.contacto img {
  width: 500px;
  border-radius: 14px;
}

.contacto h3 {
  font-size: 2rem;
  text-align: center;
  color: var(--color-primary);
}

.contacto p {
  margin: 1rem;
  text-align: justify;
  font-family: var(--font-text);
  color: var(--color-secondary);
  font-weight: bold;
}

.productos {
  width: 100%;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-image: url("src/assets/banner-product.png");
}

.card_product {
  width: 75%;
  height: 350px;
  padding: 1rem;
  border-radius: 14px;
  background-color: var(--color-secondary);
}

.card_product h3 {
  color: var(--color-primary);
  font-size: 2rem;
}

.card_product p {
  font-family: var(--font-text);
  font-weight: bold;
  text-align: justify;
  margin: 2.5rem;
}

.container_expor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn_expo {
  border: none;
  width: 250px;
  height: 35px;
  border-radius: 7px;
  background-color: var(--color-primary);

  text-transform: uppercase;
  font-family: var(--font-title);
}
.title_product {
  color: var(--color-primary);
  text-align: center;
  padding: 1.5rem;
  margin: 0.25rem;
}

.container_tarta {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card_tarta {
  width: 350px;
  height: 200px;
  margin: 0.55rem;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: cover;
}

h3 {
  margin: 1.5rem;
  font-size: 1.5rem;
  color: var(--color-primary);
  font-family: var(--font-title);
}

.container_precio {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

.container_precio span {
  color: var(--color-secondary);
}

.btn_tarta {
  width: 85px;
  border: none;
  padding: 0.2rem;
  margin-right: 1.5rem;
  color: var(--color-secondary);
  border-radius: 7px;
  background-color: var(--color-primary);
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_logo,
.container_form {
  width: 50%;
  height: 100vh;
}

.container_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  background-image: url("src/assets/fono_login.png");
}

.img_login {
  width: 350px;
}

.container_form {
  background-color: #ffffff;
}

.container_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-secondary);
}

.form_login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 5rem;
  width: 100%;
}

.container_form h1 {
  text-align: center;
  color: var(--color-primary);
}

.form_login input {
  width: 100%;
  padding: 1rem;
  margin: 0.55rem;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  font-size: 15.5px;
  font-family: var(--font-text);
  background-color: #ffffff;
}

.form_login input[type="submit"] {
  width: 50%;
  font-size: 16.5px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: var(--font-title);
  background-color: var(--color-primary);
  cursor: pointer;
}

@media (max-width: 600px) {
  .item_nav {
    display: none;
  }

  .hero_image h2 {
    font-size: 2.5rem;
  }

  .nosotros {
    flex-direction: column;
  }

  .nosotros img {
    width: 250px;
  }

  .nosotros div {
    width: 100%;
  }

  .contacto {
    flex-direction: column;
  }

  .contacto img {
    width: 250px;
  }

  .contacto div {
    width: 100%;
  }

  .card_product {
    height: 50%;
  }

  .card_product p {
    display: none;
  }

  .card_product h3 {
    margin-top: 2.5rem;
  }

  .btn-producto {
    margin-top: 1rem;
  }

  p {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .container_logo {
    display: none;
  }

  .container_form {
    width: 100%;
  }

  .form_login input[type="submit"] {
    width: 100%;
  }
}


/* segundos estilos */

.conatiner_404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: auto;
  margin-bottom: auto;

  background-position: center;
  background-size: cover;
  background-image: url("src/assets/fondo_404.png");

  width: 100%;
  height: 100vh;
}

.conatiner_404 h3 {
  font-size: 5rem;
  font-family: var(--font-title);
  font-weight: bold;
  color: var(--color-secondary);
}

.tarta {
  width: 50px;
}




